--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
streamlit-lottie
pillow
streamlit-option-menu
requests
pandas
numpy
ultralytics
textblob
google-generativeai
opencv-python-headless