--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit==1.38.0
streamlit-lottie
pillow
streamlit-option-menu
requests
pandas
numpy
textblob
google-generativeai
watchdog
# D'abord la version headless
opencv-python-headless
# Ensuite Ultralytics (qui utilisera la version ci-dessus)
ultralytics
scikit-learn
joblib
